.submitButton{
    background-color: rgb(12,134,250,1);
    font-family: apple-system;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.deleteButton{
    background-color:rgb(235, 43, 43);
    font-family: apple-system;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;

}


.inputFunction{
    background-color: white;
}


.aTagClass{
    color: white;

}

ul{
    width: 100%;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

body
{
	/* background-image:url('../images/auction2.jpg'); */
    background-color: rgb(153, 160, 143);
}

ul
{
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

li {
    float: left;
}
  

li img{
    width: 64px;
    height: auto;
    padding: 14px 16px;

}
li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
} 

/* body{
	background-image:url('../images/auction2.jpg');
} */
body{
   /* outline:2px solid black; */
   background-size :110% 133%; 
   background-repeat: no-repeat;
   background-position: center;
   height : 500px;

}
/* .my-auctions{

} */
.style-1-component{
    color: red;
}

.showcase
{
    /* background-color: yellow; */
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}
.showcase h1
{
    color:#fff;
    font-size:50px;
    line-height: 1.6em;
    padding-top:30px;
}
h1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 110, 224);
}
